h1 {
    margin: 30px auto;
    text-align: left;
    font-size: 150%;
    font-weight: 800;
    text-transform: capitalize;
    max-width: 1200px;
}

main {
    margin: 0 auto;
    padding-bottom: 125px;
    display: grid;
    grid-template-columns: calc(50% - 5px) calc(50% - 5px);
    column-gap: 10px;
    max-width: 1200px;
    overflow-y: scroll;
}

main p.error {
    grid-column: 1 / -1;
    padding: 50px;
    font-size: 80%;
    text-align: center;
}

section.items {
    margin: 8px auto;
    padding: 30px 25px;
    width: 100%;
    background-color: #222;
    border-radius: 10px;
    max-width: 1200px;
}

button.addItem, button.translate {
    width: 55px;
    height: 55px;
    border: none;
    outline: none;
    border-radius: 50%;
    position: fixed;
    left: 50%;
    right: -5px;
    bottom: 30px;
    transform: translateX(-50%);
    cursor: pointer;
    transition: .2s ease;
    z-index: 10;
}

button.addItem {
    font-size: 200%;
    color: #fff;
    background-color: hsl(125, 70%, 50%);
}

button.translate {
    font-size: 175%;
    color: #f00;
    background-color: #fff;
    transform: translateX(-50%) rotate(45deg);
}

button.addItem:active {
    filter: drop-shadow(0 0 5px hsl(125, 70%, 50%));
}

.animate {
    animation: slide 0.4s forwards;
}

@keyframes slide {
    0% {
        transform: translate(0);
        width: 100%;
    }
    100% {
        width: calc(100% - 5px);
        transform: translate(5px);
        border-left: 4px hsla(120, 100%, 70%, 0.25) solid;
    }
}

section.form {
    width: 100%;
    height: 100%;
}

@media only screen and (max-width: 769px) {
    main {
        grid-template-columns: 100%;
        column-gap: 0;
    }
}

@media only screen and (max-width: 426px) {
    button.addItem {
        left: auto;
        right: -5px;
    }
}